.dashboardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5.25rem 6.25rem;
}

.progressMissionSection {
  display: flex;
  flex-direction: row;
  gap: 3.12rem;
}

.missionStatusContainer {
  width: 49.6875rem;
  height: 35.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid #f2bd00;
  position: relative;
  overflow: hidden;
  padding: 2rem;

}

.statCards {
  display: flex;
  gap: 3.19rem;
  margin: 3.12rem 0;
}