<<<<<<< HEAD
=======
.missionStatusContainer {
  width: 49.6875rem;
  height: 35.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 2px solid #f2bd00;
  position: relative;
}

>>>>>>> 50bad33bdff03af7725c7889618f8066a0298e6b
.statCards {
  display: flex;
  gap: 3.19rem;
  margin: 3.12rem 0;
}
