main {
    font-family: Inter, sans-serif;
    color: #000000;
}

.homepage-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    padding-left: 6.94rem;
}


/* Section 3 */

.part3-homepage {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    background-color: #F0F3FF;
    text-align: left;
    box-sizing: border-box;
}

.part3-homepage h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.0625rem;
    margin: 4rem 0 2rem;
}

.part3-homepage h1 span {
    font-size: 2rem;
    line-height: 3.0625rem;
    font-weight: 800;
    font-style: normal;
}

.connection-text {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}

.font-bold {
    font-weight: 600;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3.75rem;
    margin: 4.75rem 0 4.81rem;
}


.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.part3-homepage .card {
    width: 22.875rem;
    height: 25.6875rem;
    padding: 1.875rem;
    background-color: #f9f9f9;
}


.card-header-section3 {
    position: relative;
    height: 60px;
}

.card-header-section3 span {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 15px;
}

.card-header-section3 img {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 5rem;
    height: 5rem;
}

.card-number {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.card-body {
    margin-top: 65px;
}

.card-body h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-body p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}



/* Section 5 */
.part5-homepage {
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    background-color: #FFFFFF;
    text-align: left;
    box-sizing: border-box;
}

.part5-homepage h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.3125rem;
    text-align: center;
    margin-bottom: 5.25rem;
}

.part5-homepage .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3.75rem;
}


.part5-homepage .card {
    justify-content: space-between;
    width: 22.875rem;
    height: auto;
    background-color: #f0f3ff;
    padding: 1.5rem;
}

.part5-homepage .card-header-section5 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    min-height: 4.5rem;
}

.part5-homepage .card-header-section5 img {
    width: 4.3125rem;
    height: 4.3125rem;
}

.part5-homepage .profile-title {
    font-weight: 600;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1.75rem;
}

.part5-homepage .card p {
    flex-grow: 1;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    text-align: left;
}

.part5-homepage .rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.part5-homepage .rating img {
    width: 80%;
    max-width: 200px;
    height: auto;
    object-fit: contain;
    margin: 0 auto 0 0;
    display: block;
    padding-top: 1.06rem;
}