.mission-status-section {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid #F2BD00;
    color: #FFF;
}

.section-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}


.button-briefing-container,
.button-mission-container {
    display: flex;
    width: 13.75rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0 solid #E5E7EB;
}

.view-briefing-button {
    gap: 1rem;
    color: #1C1C1E;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #F0F3FF;
    padding: 0.6875rem 1rem;
    margin-right: 0.5rem;
}

.view-briefing-button:hover {
    background-color: #D1DAFF;
}

.view-missions-button {
    margin-left: 0.5rem;
    color: #F2F2F7;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #0036F5;
    padding: 0.6875rem 1rem;
}

.view-missions-button:hover {
    background-color: #002ECC;
}