body {
  color: #1c1c1e;
  background-color: #ffffff;
}

button {
  border-radius: 0.5rem;
  border: 0 solid #e5e7eb;
  background-color: #0036f5;
  color: #f2f2f7;
  padding: 0.7rem 1rem;
  width: 13.75rem;
  height: 3rem;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.answerButton {
  text-align: left;
  display: flex;
  align-items: center;
}

button > img {
  flex-basis: 10%;
  height: 3rem;
  width: 3rem;
}

.answerButtonText {
  flex-basis: 90%;
}

.unselectedAnswerButton {
  border: 0.13rem solid #0036f5;
  background-color: #ffffff;
  color: #000000;
  width: 22.44rem;
  height: 3.75rem;
}

.selectedAnswerButton {
  background-color: #f2bd00;
  color: #000000;
  width: 22.44rem;
  height: 3.75rem;
}

.correctAnswerButton {
  background-color: #00b232;
  color: #000000;
  width: 22.44rem;
  height: 3.75rem;
}

.grayButton {
  border-radius: 0.5rem;
  background-color: #f0f3ff;
  color: #1c1c1e;
}

.buttonAsLink {
  border: 0rem;
  color: #1c1c1e;
  background: none;
}

.QuestionContainer {
  border: 0.06rem solid #e5e5e5;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  text-align: center;
  width: 50rem;
  height: 37.375rem;
  flex-shrink: 0;
}

.QuestionContainer > p {
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
}

.QuestionContainer > img {
  width: 45.875rem;
  height: 18.75rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LearnMoreModal {
  border: 0.06rem solid #e5e5e5;
}

.QuestionHeader {
  display: flex;
  justify-content: space-between;
}

.AnswersContainer {
  width: 45.875rem;
  height: 8.5rem;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0.63rem 0.63rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
  margin: 2rem;
}

.AnswersContainer > button {
  display: flex;
}

.QuestionNavigation {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 0.63rem 0.63rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}
