body {
  color: #1c1c1e;
  background-color: #ffffff;
}

button {
  border-radius: 8px;
  border: 0 solid #E5E7EB;
  background-color: #0036F5;
  color: #F2F2F7;
  padding: 11px 16px;
  /*TODO: Figure out if this should be a fixed pixel size?*/
  width: 220px;
  height: 48px;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.unselectedAnswerButton {
border: 2px solid #0036F5;
background-color: #FFFFFF;
color: #000000;
}

.selectedAnswerButton {
background-color: #F2BD00;
color: #000000;
}

.correctAnswerButton {
background-color: #00B232;
color: #000000;
}

.grayButton {
  border-radius: 8px;
  background-color: #F0F3FF;
  color: #1C1C1E;
}

.buttonAsLink {
  border: 0px;
  color: #1C1C1E;
}

.QuestionContainer {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.LearnMoreModal {
  border: 1px solid #e5e5e5;
}

.QuestionHeader {
  display: flex;
  justify-content: space-between;
}

.AnswersContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
  margin: 20px;
}

.AnswersContainer > button {
  display: flex;
}

.QuestionNavigation {
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
}

#